body{
font-family:Arial;
margin:0;
padding:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#222;
color:white;
padding:20px;
}

section{
padding:30px;
}

.profile-pic{
width:200px;
height:200px;
border-radius:50%;
object-fit:cover;
border:5px solid #333;
}

.btn{
display:inline-block;
padding:10px 20px;
background:#007bff;
color:white;
text-decoration:none;
border-radius:5px;
}

.skill{
width:70%;
margin:auto;
}

.bar{
background:#ddd;
height:20px;
border-radius:20px;
}

.python{
width:90%;
height:20px;
background:green;
border-radius:20px;
}

.html{
width:85%;
height:20px;
background:orange;
border-radius:20px;
}

.js{
width:75%;
height:20px;
background:blue;
border-radius:20px;
}

.projects{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;
}

input,textarea{
padding:10px;
}

button{
padding:10px;
cursor:pointer;
}

.dark{
background:#121212;
color:white;
}

#topBtn{
position:fixed;
bottom:20px;
right:20px;
}